@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Open+Sans&family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
.container{
    background-color: rgb(219, 226, 248);
    padding-top: 100px;
    /* height: 100vh; */
    width: 100%;
}
.main{
    padding: 0 50px;
    display: flex;
    flex-direction: column;
}
.head{
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 100px;
}
select{
    background-color: blue;
    border: none;
    padding: 10px 10px;
}
table{
    background-color: #fff;
}
th{
    height: 100px;
    width: 10%;
}

td{
    height: 80px;
    width: 10%;
    align-items: center;
    padding: 0 20px;
}
.check{
    width: 100%;
    margin: 0 auto;
}
td button{
    width: 100%;
    padding: 4px 7px;
}
.actions {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.actions i{
    margin-left: 10px;
}
img{
    width: 30px;
    border-radius: 50%;
}
.img{
    display: flex;
    align-items: center;
}
.col{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}
.head button:nth-child(1){
    background-color: blue;
    padding: 3px 5px;
    border: none;
}
.head button:nth-child(2){
    background-color: rgb(255, 0, 106);
    padding: 3px 5px;
    border: none;
}
td button{
    background-color: rgba(11, 197, 11, 0.507);
    border: none;
    color: rgb(3, 61, 3);
    font-weight: bold;
}
i{
    color: orange;
}
